@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "utilities.scss";

// general
body {
  background-color: $bg-light;
  @apply dark:bg-[#121212];
}
html {
  scroll-behavior: smooth;
}
.bgLight {
  background-color: $bg-light;
}
h1 {
  @apply h-full text-[#14213d] dark:text-white flex flex-col justify-center;
  @include header-font;
}
h2.profile-title {
  @include sub-font-family;
  @apply text-3xl xl:text-4xl font-bold text-gray-800 dark:text-white;
}
h2:not(.profile-title) {
  @include sub-font-family;
  @include sub-title;
  @apply dark:text-white;
}
h3 {
  @include sub-font-family;
}

// Navigation Bar
nav#nav-bar {
  @apply z-30 flex items-center justify-between sticky top-0 w-full shadow transition-all duration-200 ease-in-out;

  .home-button {
    @apply flex items-center text-2xl font-bold cursor-pointer;

    img {
      @apply w-10 h-10;
    }

    p {
      @include logo-font;
      @apply hidden lg:block text-3xl font-bold ml-2 tracking-widest;
    }
  }

  .nav-links {
    @apply hidden w-8/12 lg:flex justify-center font-medium lg:gap-8;

    a {
      @include header-font;
      @apply text-lg lg:text-lg xl:text-xl;
    }
  }

  .mobile-hamburger {
    @apply lg:hidden;

    .menu-button {
      @apply flex items-center;
    }

    svg {
      @apply w-8 h-8;
    }

    .menu-items {
      @apply absolute right-0 w-64 mt-5 mr-8 md:mr-10 origin-top-right bg-white divide-y divide-gray-100 rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none;

      .menu-item-padding {
        @apply px-1 py-1;

        a {
          @apply flex rounded-md items-center w-full px-4 py-3 font-medium text-lg;
        }
      }
    }
  }
}

// header
header {
  @apply relative w-full overflow-hidden flex;

  div.header-bg {
    @apply absolute inset-0 dark:blur-sm;

    div {
      @apply absolute z-10 bg-white dark:bg-opacity-0 transition duration-300 ease-out;
    }

    img {
      @apply absolute inset-0 w-full h-full object-cover object-top transition duration-300 ease-out;
    }
  }

  div.content {
    @apply relative z-20 mx-auto top-[25%] lg:top-[28%] w-[90%] md:w-4/5 lg:w-1/2 xl:w-[45%] h-[40%] lg:h-[40%] 2xl:h-[35%] px-7 md:px-10 rounded-md bg-white dark:bg-[#171717] border-t border-gray-100 dark:border-none shadow-lg shadow-gray-700 dark:shadow-md dark:shadow-gray-400 transition duration-300 ease-out;
  }

  // div:last-child {
  //   @apply relative w-full text-center px-1 md:px-16 lg:px-28 xl:px-40 pt-5 2xl:pt-10;
  // }
}

// about
#about {
  height: auto;
  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 70px);
  }
}

// profile section
.profile-social-icons {
  @apply flex items-center mt-6 -mx-2;

  a {
    @apply mx-2;
  }

  a svg {
    @apply w-5 h-5 xl:w-6 xl:h-6 text-gray-700 dark:text-white fill-current hover:text-gray-600 dark:hover:text-gray-200;
  }
}

.summary-skill-list-container {
  @apply flex mt-3 gap-20;

  ul {
    @apply list-disc list-inside;

    li {
      @include sub-font-family;
      @apply py-0.5 text-gray-600 dark:text-white lg:text-lg;
    }
  }
}

.profile-description-container {
  @include sub-font-family;
  @apply pt-4 space-y-4 text-gray-600 dark:text-white lg:max-w-lg xl:max-w-xl 2xl:max-w-2xl 3xl:max-w-3xl;

  p {
    @apply lg:text-lg leading-7;
  }

  word-spacing: 5px;
}

.profile-img-container {
  @apply relative max-w-xs lg:max-w-xxs xl:max-w-md rounded-full shadow-btm-right group-hover:shadow-top-right transition-all duration-300 ease-in;

  img {
    @apply bg-white object-cover object-top rounded-full group-hover:grayscale transition-all ease-out duration-300;
  }
}

// timeline section
section#timeline {
  @include sub-font-family;
  @include section-vertical-padding;
  @apply max-w-[600px] mx-auto px-1.5 md:px-0;

  h3 {
    @apply md:text-xl text-black dark:text-white font-bold;
  }

  span {
    @apply flex items-center gap-1 px-2 py-1 text-gray-700 dark:text-gray-400 text-xs md:text-sm font-semibold bg-gray-300 dark:bg-gray-800 bg-opacity-70 rounded;
  }

  ul {
    @apply mt-7;

    li {
      @apply flex flex-col items-center justify-center;
    }
  }

  .line {
    @apply h-10 w-[1px] bg-gray-300 dark:bg-gray-600;
  }

  .timeline-card {
    @apply w-full dark:text-white p-3 border border-gray-300 dark:border-gray-600 rounded-md bg-white dark:bg-gray-900 dark:bg-opacity-30;

    div {
      @apply flex items-center justify-between;
    }
  }

  p {
    @apply text-sm md:text-base mt-2;
  }

  a {
    @apply flex gap-2 items-center w-fit text-sm md:text-base py-1 px-3 mt-3 rounded border border-gray-400 dark:border-gray-700;
  }
}

// skill section
section#skills {
  @apply flex flex-col items-center px-1;
  @include section-vertical-padding;

  div {
    @apply mb-4 lg:mb-8;
  }

  ul {
    @apply flex flex-wrap justify-center lg:w-10/12 2xl:w-8/12 3xl:w-7/12;

    li {
      @include sub-font-family;
      @apply w-[29%] md:w-[22%] lg:w-1/5 xl:w-[15%] dark:border-2 border-gray-50 rounded-md bg-white dark:bg-transparent font-semibold md:text-xl p-2 md:px-6 shadow hover:shadow-lg dark:hover:shadow-around dark:hover:shadow-white mx-2 mt-4 lg:mt-0 lg:mb-4 2xl:mb-6 cursor-default transition ease-out duration-500;

      p {
        @apply mt-1 text-center dark:text-white;
      }
    }
  }
}

// work section
section#works {
  height: auto;
  @include section-vertical-padding;

  @media screen and (min-width: 1580px) {
    height: calc(100vh - 227px);
  }

  h2 {
    @apply mb-5 lg:mb-10 px-3;
  }
}
.work-card-lane {
  @apply py-2 md:py-0 px-2 md:px-0 md:w-11/12 lg:w-10/12 2xl:w-8/12 flex justify-center md:justify-around xl:justify-center gap-5 lg:gap-7 flex-wrap mx-auto;

  .work-card-container {
    @apply relative py-2 h-32 md:h-[140px] lg:h-[150px] xl:h-[160px] lg:py-0 w-11/12 md:w-[48%] xl:w-[31%] bg-white flex-shrink-0 md:flex-shrink rounded-lg dark:border-2 dark:border-[#121212] dark:hover:border-white shadow-md dark:shadow-none dark:shadow-white hover:shadow-lg dark:hover:shadow-around flex items-center justify-center hover:cursor-pointer transition-all duration-300 ease-out;

    // img {
    //   @apply max-w-[70%] md:max-w-[60%] 3xl:max-w-[55%];
    // }
  }
}

.work-card-lane::-webkit-scrollbar {
  display: none;
}

// personal project section
section.project-section {
  @apply px-4 lg:px-0;
  @include section-vertical-padding;

  h2 {
    @apply mb-7;
  }

  .project-grid {
    @apply px-4 md:px-0 md:w-8/12 lg:w-10/12 2xl:w-8/12 grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-10 mx-auto;
  }
}

.project-card {
  @apply relative w-full h-full min-h-project-card rounded-lg dark:border-2 dark:border-gray-400 overflow-hidden shadow-md shadow-gray-400 dark:shadow-none dark:hover:shadow-around hover:shadow-xl hover:shadow-gray-500 transition ease-out duration-300;

  .project-img-container {
    @apply z-10 relative w-full h-full;

    img {
      @apply w-full h-full object-cover object-top;
    }

    div {
      @apply absolute inset-0 w-full h-full flex items-center justify-center;
    }

    h3 {
      @include sub-font-family;
      @apply font-extrabold text-center text-2xl sm:text-4xl;
    }
  }

  .project-text-container {
    @include sub-font-family;
    @apply z-20 absolute inset-0 px-3 md:px-6 py-2 xl:py-4 w-full h-full flex flex-col justify-between bg-gray-900 bg-opacity-95 text-white;

    h4 {
      @apply md:text-lg font-bold underline;
    }

    .project-description {
      @apply text-sm md:text-base font-medium;
    }

    .stack-and-project-links {
      @apply flex justify-between items-end max-h-9 space-x-5 mt-8 md:mt-5 lg:mt-0;

      .tech-stack-container {
        @apply flex flex-wrap items-center;
      }

      p {
        @apply text-xs md:text-sm font-medium;
      }

      p span {
        @apply px-1 font-bold;
      }

      .project-links {
        @apply flex items-center space-x-2 pb-0.5;
      }
    }
  }
}

// hobby section
section#hobbies {
  @apply flex flex-col items-center px-4 py-16 md:py-24;

  h2 {
    @apply mb-10 md:mb-16;
  }

  .hobby-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-10;
  }
}

.hobby-card-container {
  @apply bg-cover bg-top w-auto md:w-80 lg:w-96 h-56 xl:w-[550px] xl:h-[300px] rounded-md overflow-hidden shadow-md dark:shadow-none dark:hover:shadow-around dark:shadow-white hover:shadow-2xl hover:ring hover:ring-zinc-200 transition ease-linear duration-300;

  div {
    @apply py-3 xl:pt-4 px-4 xl:px-5 bg-gradient-to-b from-black to-transparent;

    p {
      @include sub-font-family;
      @apply text-sm xl:text-lg  text-white whitespace-pre-line;
    }
    p:first-child {
      @apply font-semibold xl:font-bold underline capitalize;
    }
  }
}

// contact section
section.contact-section {
  height: auto;
  @apply px-10 pt-24 sm:pb-16 md:pb-7 md:pt-16 flex items-center justify-center mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pb-0 xl:pb-4 2xl:pb-0;

  @media screen and (min-width: 768px) {
    height: calc(100vh - 175px);
  }

  .contact-section-width {
    @apply max-w-xl sm:mx-auto lg:max-w-3xl xl:max-w-5xl;
  }

  .contact-section-width > div {
    @include sub-font-family;
    @apply flex flex-col lg:flex-row mb-16 sm:text-center sm:mb-0 lg:gap-5 xl:gap-10 tracking-wide;

    .img-container {
      @apply mb-10 md:mb-7 mt-3 sm:mx-auto xl:w-5/12;

      div {
        @apply w-1/2 sm:w-1/4 lg:w-64 xl:w-full mx-auto;
      }
    }
  }

  .details-cta-container {
    div:first-child {
      @apply max-w-xl mb-10 md:mx-auto sm:text-center lg:text-left lg:max-w-2xl xl:max-w-3xl md:mb-5 xl:mb-8 2xl:mb-12;

      h2 {
        @apply max-w-lg lg:max-w-3xl mb-6 lg:text-left text-3xl font-extrabold leading-none text-gray-900 dark:text-white sm:text-4xl xl:text-5xl 2xl:text-6xl md:mx-auto;
      }

      p {
        word-spacing: 5px;
        @apply text-base text-center lg:text-left text-gray-600 dark:text-white md:text-lg 2xl:text-xl xl:leading-7;
      }
    }

    div:last-child {
      @apply md:space-x-3 space-y-3 md:space-y-0 flex flex-col md:flex-row justify-center lg:justify-start;

      a {
        @apply inline-flex items-center justify-center h-12 px-6 text-lg text-white font-medium bg-gradient-to-r transition duration-200 rounded shadow-md hover:shadow-gray-400;

        svg {
          @apply w-5 h-5 mr-2;
        }
      }

      a:first-child {
        @apply from-gray-600 to-gray-900 hover:from-gray-600 hover:to-gray-600;
      }

      a:last-child {
        @apply from-blue-700 to-blue-900 hover:from-blue-600 hover:to-blue-600;
      }
    }
  }
}

// footer
.footer-section {
  @apply bg-white dark:bg-[#121212] pt-2;

  footer {
    @apply max-w-screen-2xl px-4 md:px-8 mx-auto;

    div.copyright {
      @include header-font;
      @apply text-gray-500 dark:text-white text-sm text-center py-4 xl:py-4 2xl:py-5;
    }
  }

  .social-icons-and-navigation {
    @apply flex flex-col items-center border-t pt-3 lg:pt-6 xl:pt-4 2xl:pt-6;

    nav {
      @include header-font;
      @apply flex flex-wrap justify-center md:justify-start gap-x-4 gap-y-2 md:gap-6 mb-4;
    }

    div {
      @apply flex gap-4;
    }
  }
}

.footerBtn {
  @apply text-gray-500 hover:text-black dark:text-white dark:hover:text-gray-200 active:text-black transition duration-100;
}

.footerIcon {
  @apply text-gray-500 hover:text-gray-500 dark:text-white dark:hover:text-gray-200 active:text-gray-600 transition duration-100;

  svg {
    @apply w-6 h-6;
  }
}

// modal
.modal-container {
  @apply relative z-50;

  .modal-bg {
    @apply fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity duration-200 ease-out;
  }
}

.modal-fixed-wrapper {
  @apply fixed inset-0 z-10 overflow-y-auto;

  p {
    @include sub-font-family;
  }

  .modal-size {
    @apply flex min-h-full items-center justify-center p-4 text-center sm:p-0;

    .modal {
      @apply relative p-5 lg:px-10 transform lg:overflow-hidden rounded-lg bg-gray-100 text-left shadow-xl transition-all sm:my-8 h-[600px] 2xl:h-[650px] sm:w-full sm:max-w-lg md:max-w-xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl;
    }

    .x-icon {
      @apply w-7 h-7 absolute right-3 lg:top-3 hover:text-red-600 transition duration-300 ease-out cursor-pointer;
    }

    .modal-heading {
      @include sub-font-family;
      @apply text-2xl lg:text-4xl font-bold lg:text-center;
    }

    hr {
      @apply my-2 lg:mb-4 text-gray-800;
    }

    .modal-content-wrapper {
      @apply space-y-3 lg:space-y-0 gap-7 h-[88%] overflow-y-auto;

      hr {
        @apply lg:hidden;
      }
    }
  }
}

.smth-fun {
  @include sub-font-family;
  @apply text-center pt-3 pb-1 tracking-wider dark:text-white;
}
