@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "utilities.scss";

body {
	background-color: $bg-body-color;
	overflow: overlay; //https://stackoverflow.com/questions/23200639/transparent-scrollbar-with-css
}
html {
	scroll-behavior: smooth;
}
.bgLight {
	background-color: $bg-light;
}
.skillStyle {
  @apply border-b-2 border-l-2 border-r-2 border-gray-50 rounded-md font-semibold text-xl py-2 px-4 shadow-lg mx-2 mt-4 lg:mt-0 ease-out duration-200 transform hover:-translate-y-2;
}
.footerBtn {
  @apply text-gray-500 hover:text-indigo-500 active:text-indigo-600 transition duration-100
}
.footerIcon {
  @apply text-gray-400 hover:text-gray-500 active:text-gray-600 transition duration-100
}
.IconInProfile {
  @apply w-5 h-5 xl:w-6 xl:h-6 text-gray-700 fill-current hover:text-gray-600
}
