// reference from: https://www.developerdrive.com/how-to-easily-use-google-fonts-with-sass/
// @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap"); // looks slightly distorted in chrome
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

// mixins
@mixin sub-font-family {
  // font-family: 'Lato', sans-serif;
  font-family: "Raleway", sans-serif;
}
@mixin header-font {
  font-family: "Montserrat", sans-serif;
}
@mixin logo-font {
  font-family: "Carter One", cursive;
}
@mixin sub-title {
  @apply text-3xl lg:text-4xl text-center font-bold text-gray-800;
}
@mixin section-vertical-padding {
  @apply py-8 md:py-14;
}

.navPadding {
  padding: 15px 30px;

  @media (min-width: 768px) {
    padding: 15px 50px;
  }
  @media (min-width: 1024px) {
    padding: 15px 108px;
  }
  @media (min-width: 1440px) {
    padding: 15px 160px;
  }
  @media (min-width: 1536px) {
    padding: 15px 200px;
  }
  @media (min-width: 1660px) {
    padding: 15px 260px;
  }

  @apply dark:text-white;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 5px;
  opacity: 0.2;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

// bg colors
$bg-light: #f8f9fa; // f8f9fa
