name: "Workflow"
on: ["push"]
jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      # - uses: "actions/checkout@main"
      - name: "TODO to Issue"
        uses: "alstr/todo-to-issue-action@v4.5"
        id: "todo"